/* Tablet */
@media screen and (max-width: 1023px) {
  main {
    margin: 0 4em;
  }
}

/* Mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
  main {
    margin: 0 2em;
  }
  .title h1 {
    font-size: 2.5em;
  }
  .logo img {
    width: 10em;
  }
  .card {
    width: 15em;
    height: 16em;
  }
  footer {
    font-size: 0.7rem;
  }
}
