@import url(https://fonts.bunny.net/css?family=oswald:700);

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

main {
  margin: 0 10em;
}

/* Header */
header {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo,
.title {
  text-align: center;
  width: 100%;
  border-bottom: 2px solid darkred;
}

.logo img {
  padding-bottom: 1.5em;
}

.title h1 {
  font-size: 3.5em;
  padding: 1em 0 0.4em;
}

#bloc {
  font-size: 1.2rem;
  padding: 0.5rem;
  background-color: black;
  color: white;
}

/* Presentation */
.definition {
  background: #eee;
  padding: 2em 1em 1em 1em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
}

.definition img {
  margin: 2em auto;
  width: 8em;
}

#definition {
  border-bottom: 2px solid black;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

#definition dfn {
  font-weight: bold;
}

#broadcast {
  text-align: center;
  font-style: italic;
  font-size: 0.8em;
  margin-bottom: 1em;
}

.definition h3 {
  color: darkred;
  margin-bottom: 1em;
}

.definition p {
  margin-bottom: 1em;
}

/* Actors */
.actors {
  margin-top: 1.5em;
}

ul {
  margin: 1em;
  width: 100%;
}

li {
  text-align: center;
  background-color: #eee;
  margin-bottom: 0.3em;
  padding: 0.5em;
  border-radius: 1em;
  color: darkred;
  text-transform: uppercase;
}

li:hover {
  background-color: #ccc;
  transition: all 0.2s;
}
